
<link rel="stylesheet" href="/static/style.css">
<head>
<script type="text/javascript">
  function gohome()
	{
		window.location.href="/"
	}
</script>
</head>
<h3> Please leave a message</h3>
<form action="/postentry" method="POST">
    <p>Your name: <input type="text" name="name"/></p>
    <p>Your message: </p>
    <p><textarea name="message" rows=10 cols=60></textarea></p>
    <p><input type="submit" value="Submit"/> <input type="button" class="btn btn-lg btn-success" onclick="gohome()" value="Back" /></p>
</form>
